<h1>Seattle Grace Hospital</h1>
<h2>Patient Index</h2>

<ul>
<% @patients.each do |pat| %>
<li>Name: <%= link_to pat.name, patient_path(pat) %> Number of Appointments: <%= pat.appointments.count %></li>
<% end %>

</ul>
